{#
  Header Template for the site.

  This header contains:
  - A responsive navigation bar using Bootstrap's navbar component.
  - A collapsible menu for smaller screens, controlled by the "navbar-toggler" button.
  - A placeholder for dynamic header content (`{{ page.header }}`), which can be customized through Drupal configuration.

  The navbar will expand on larger screens and collapse into a toggleable menu on smaller screens.
#}

<header class="navbar navbar-expand-lg">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  {{ page.header }}
	</div>
  </header>
  